@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

.App {
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: 'Orbitron', sans-serif;
  background-color: black;
}

.input-label{
  display: flex;
  flex-direction: column;
  width: 190px;
  align-items: left;
  font-weight: 600;
  background-color: transparent;
  position: absolute;
  top: 25px;
  left: 25px;
}

input{
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  background-color: lightgray;
  border-radius: 5px;
  padding-left: 8px;
}
.planet-wrapper {
  width: 300px;
}

.planet-wrapper > * {
  margin: 0px;
  padding: 0px;
}

.planet-wrapper > p {
  font-size: 30px;
  font-weight: 900;
  width: 100%;
  word-wrap: break-word;
  height: 100px;
}

.overlay-container {
  z-index: 10;
  position: fixed;
  background-color: transparent;
}

.loading {
  background-color: black;
  margin: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left {
  position: absolute;
  left: 25px;
  top: 49%;
  bottom: 49%;
  height: 50px;
}

.right {
  position: absolute;
  right: 25px;
  top: 49%;
  bottom: 49%;
  height: 50px;
}

.canvas {
  position: absolute;
  top: 0px;

}
